{% extends 'base.html' %}

{% block title %}
Направления
{% endblock %}

{% block menu %}
       <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Главная</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="directions">Информация о направлении</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="about">Образовательные модули</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="gallery">Фотогалерея</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="contacts">Контакты</a>
          </li>
{% endblock %}


{% block body %}

<h1>Центр цифрового образования детей «IT-Cube.Красноярск»</h1>
<p class="lead">Центр цифрового образования детей «IT-Cube.Красноярск» создан в 2021 году в рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование». Он призван обеспечить обучение школьников актуальным и востребованным знаний, навыков и компетенций в сфере информационно-телекоммуникационных технологий. А также создать условия для выявления, поддержки и развития талантливых детей, их профориентации, развития у подрастающего поколения математической, информационной грамотности, формирования критического и креативного мышления.

Центр «IT-Cube.Красноярск» выполняет следующие задачи:</p>
 <ul class="list-group list-group-numbered">
 <li class="list-group-item">реализация дополнительных общеобразовательных программ цифрового профиля для детей 11-17 лет;</li>
<li class="list-group-item">профориентационная и просветительская деятельность с детьми и взрослыми по цифровой грамотности и информационной безопасности;</li>
<li class="list-group-item">организация образовательных мероприятий для детей и педагогов, в том числе из других образовательных организаций;</li>
<li class="list-group-item">организация проектной деятельности, в том числе в дистанционном формате, для обучающихся общеобразовательных организаций;</li>
<li class="list-group-item">организация конкурсов, олимпиад, хакатонов по цифровым технологиям, информатике, программированию;</li>
<li class="list-group-item">методическая поддержка общеобразовательных организаций в части совершенствования подходов к преподаванию учебных предметов «Математика» и «Технология».</li>
</ul>
<p>Центры цифрового образования детей «IT-куб» создаются при поддержке Министерства просвещения на всей территории Российской Федерации. В настоящее время функционируют уже более 75 центров по всей стране. В Красноярском крае первый «IT-Cube» появился в Норильске в конце 2020 года. Все центры образуют единую живую сеть, благодаря которой дети и наставники имеют доступ к колоссальному опыту.</p>
{% endblock %}